* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/*dark and light mode*/
:root {
  --color-white: #fff;
  --color-black: #0f0f0f;
  ---color-grey-0: #f8f8f8;
  ---color-grey-1: #eee;
  ---color-grey-2: #ccc;
  ---color-grey-3: rgb(0 0 0 / 5%);
  ---color-grey-4: rgb(0 0 0 / 10%);
  ---color-grey-5: #909090;
  ---color-grey-6: #606060;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}
.dark-mode {
  --color-white: #0f0f0f;
  --color-black: #fff;
  ---color-grey0: #;
  ---color-grey-1: #;
  ---color-grey-2: #;
  ---color-grey-3: rgb(0 0 0 / 5%);
  ---color-grey-4: rgb(0 0 0 / 10%);
  ---color-grey-5: #;
  ---color-grey-6: #;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--color-white);
}

#masthead-container {
  display: flex;
}

#start {
  display: flex;
  padding: 8px 12px 8px 12px;
  width: 240px;
}

//left-container

.guide-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 12px 8px 12px;
  width: 240px;

  .guide-content {
    padding-top: 6px;
    width: 216px;

    #guide-section {
      border-top: 1px solid var(---color-grey-4);
      margin-top: 12px;
      padding-top: 12px;
    }
  }
}

#scroll-container {
  max-height: 93vh;
  overflow: hidden;
  overflow-y: auto;
  display: block;
}

.guide-button {
  cursor: pointer;
  width: 204px;
  border-radius: 10px;

  .header {
    display: flex;
    align-items: center;
    text-decoration-line: none;
  }
}

.items {
  padding: 0 10px;

  .item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    .left-icon {
      margin-right: 24px;
    }

    .left-string {
      font-size: 14px;
      color: var(--color-black);
      font-weight: 350;
      flex: 1;
      flex-basis: 1e-9px;
    }

    #channel {
      transform: translateY(2px);
    }
  }
}

.wrapper {
  border-top: 1px solid var(---color-grey-4);
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px 12px 4px 12px;
  width: 228px;

  .button-wrapper {
    padding-top: 6px;

    .yt-img {
      border-radius: 50%;
      transform: translateY(2px);
    }

    #copyright {
      padding: 16px;
      color: var(---color-grey-5);
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
}

.header-text {
  padding-right: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-black);
  overflow: hidden;
}

//

.top-header {
  height: 56px;
  display: flex;
  flex-direction: row;

  //start
  .top-icon,
  .left-icon {
    padding: 10px;
    cursor: pointer;
    transform: translateY(2px);
  }
  .tw {
    font-size: 10px;
    color: var(---color-grey-6);
    margin: 0 0 0 -10px;
    padding: 5px;
  }
}

#menu-button {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

//mini-left-guide

#mini-guider {
  display: none;
}

.mini-guide-wrapper {
  display: flex;
  width: 74px;
  align-items: center;
  justify-content: center;
}

.mini-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0 14px;
  width: 64px;
}

.mini-string {
  max-width: 100%;
  display: block; //
  max-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4rem;
  color: var(--color-black);
}

//right-container
.right-container {
  width: 100%;
}

.right-header {
  display: flex;
  height: 56px;
  width: 100%;

  #center {
    width: 95%;
    margin-right: 8rem;
    align-items: center;
    justify-content: flex-end;
  }
  #end {
    width: 30%;
    align-items: center;
    justify-content: end;
    padding-right: 24px;
  }
}

.right-icon {
  padding: 6px 8px 6px 8px;
  cursor: pointer;
  transform: translateY(2px);
  margin-right: 6px;
  margin-left: 6px;
  clip-path: circle(50% at 50% 50%);
  svg {
    transform: translateY(2px);
  }
}

//center
#voice-search {
  background-color: var(---color-grey-3);
}

#search-section {
  width: 80%;
}
.search-box {
  position: relative;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(---color-grey-2);
  border-radius: 40px 40px 40px 40px;
  box-shadow: inset 0 1px 2px var(---color-grey-1);
  caret-color: var(--color-black);
  color: var(--color-black);
  padding: 0px 0px 0px 16px;
  margin-left: 32px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  max-width: 100%;
}

input {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  outline-color: transparent;
  border: none;
  max-width: 100%;
  width: 100%;
  &::placeholder {
    color: var(---color-grey-5);
    font-weight: 300;
  }
}
#search-button {
  border: 1px solid var(---color-grey-2);
  border-bottom: transparent;
  border-top: transparent;
  border-right: transparent;
  background-color: var(---color-grey-0);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 40px;
  width: 80px;
  margin: 0;
  box-sizing: border-box;
}

//end
#gini {
  transform: translateY(4px);
  .gini {
    border-radius: 50px;
    margin-right: 6px;
    margin-left: 6px;
  }
}

//class button
.class-btns {
  display: flex;
  margin: 8px 20px 20px 20px;

  .class-btn {
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    margin: 6px;
    border: 10px;
    background-color: var(---color-grey-3);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
  }
}

//primary

.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 16px;
}

.video-img {
  display: flex;
  flex-direction: column;
  padding: 8px;
  .thumbnail {
    border-radius: 12px;
    width: 360px;
    height: 202.5px;
    // clip-path: polygon(0 12.6%, 100% 12.6%, 100% 87.4%, 0 87.4%);
  }
}

.video-content {
  display: flex;
}
.video-title {
  text-decoration: underline var(--color-white);
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
  margin: 12px 0 4px 0;
}
.channel-name,
.video-views {
  text-decoration: underline var(--color-white);
  color: var(---color-grey-6);
  font-weight: 400;
}

.channel-thumbnail {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-top: 12px;
  margin-right: 12px;
}
